header {
  display: flex;
  justify-content: end;
  height: 50px;
  flex-wrap: wrap;
}

header ul {
  margin: 10px 20px;
  min-width: 125px;
  text-align: end;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
}

header ul li {
  display: inline-block;
  padding: 0px 6px;
  font-size: 14px;
  min-width: 30px;
}

a {
  text-decoration: none;
  color: white;
}
